body {
  --bg: #fcfcfc;
  --purple: #2c1e58;
  --yellow: #fde248;
  --pink: #ff7a60;
  --gray: #717171;
  background-color: var(--bg);
}

a:hover {
  color: var(--pink);
  transition: all 0.2s;
}

a.squiggly {
  border-bottom: 1px solid #000;
  padding-bottom: 0.1em;
  background-position: bottom;
  background-size: 20%;
  text-decoration: none;
  transition: none;
  box-shadow: none;
}

a.squiggly:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='coral' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 21px;
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 0.2em;
  border-bottom: 0;
  text-decoration: none;
  box-shadow: none;
}
