body {
  --bg: #fcfcfc;
  --purple: #2c1e58;
  --yellow: #fde248;
  --pink: #ff7a60;
  --gray: #717171;
  --gray-medium: #dfe3e6;
  --white: #fff;
  --black: #000;

  --textLink: var(--black);
  background-color: var(--bg);
}

a:hover {
  color: var(--pink);
  transition: all 0.2s;
}

a.squiggly {
  border-bottom: 1px solid var(--black);
  padding-bottom: 0.1em;
  background-position: bottom;
  background-size: 20%;
  text-decoration: none;
  transition: none;
  box-shadow: none;
}

a.squiggly:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='coral' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 26px;
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 0.1em;
  border-bottom: 0;
  text-decoration: none;
  box-shadow: none;
}

/* https://css-tricks.com/full-width-containers-limited-width-parents/ */
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.pills {
  display: flex;
}
.pill {
  font-size: 0.7rem;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 1.25rem;
  margin: 0.125rem;
  border-radius: 0.9375rem;
}
.pill:not(:first-child) {
  margin-left: 0;
}

/* carbon design tag colors */
.pill--leadership {
  background-color: #ffd4a0;
  color: #a53725;
}
.pill--management {
  background-color: #fde876;
  color: #735f00;
}
.pill--engineering {
  background-color: #c0e6ff;
  color: #325c80;
}
.pill--11s {
  background-color: #eed2ff;
  color: #734098;
}

/* embedded tweets */
.twitter-tweet {
  margin: 0 auto;
}