body {
  --bg: #fcfcfc;
  --purple-light: #f4f3ff;
  --purple-dark: #2c1e58;
  --yellow: #fde248;
  --yellow-light: #fff6b7;
  --pink: #fbcddc;
  --pink-medium: #fdbed4;
  --coral: #ff7a60;
  --red: #f6416c;
  --blue: #afeeee;
  --gray: #717171;
  --gray-medium: #dfe3e6;
  --white: #fff;
  --black: #000;

  --textLink: var(--black);
  --hr: var(--gray-medium);

  --mega-border-width: 10px;
  background-color: var(--bg);
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg fill='%23F4F3FF' width='100pt' height='100pt' version='1.1' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath d='m27.109 89.648c-2.0078 0-3.6406-1.6328-3.6406-3.6406 0-2.0078 1.6328-3.6406 3.6406-3.6406s3.6406 1.6328 3.6406 3.6406c0 2.0078-1.6328 3.6406-3.6406 3.6406zm0-5.5781c-1.0703 0-1.9375 0.86719-1.9375 1.9375 0 1.0664 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9375-0.87109 1.9375-1.9375 0.003906-1.0703-0.86719-1.9375-1.9375-1.9375z'/%3E%3Cpath d='m42.309 64.988c-2.0078 0-3.6406-1.6328-3.6406-3.6406 0-2.0078 1.6328-3.6406 3.6406-3.6406 2.0078 0 3.6406 1.6328 3.6406 3.6406 0 2.0078-1.6328 3.6406-3.6406 3.6406zm0-5.5781c-1.0703 0-1.9375 0.87109-1.9375 1.9375 0 1.0703 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9414-0.86719 1.9414-1.9375 0-1.0664-0.87109-1.9375-1.9414-1.9375z'/%3E%3Cpath d='m52.312 34.984c-2.0078 0-3.6367-1.6328-3.6367-3.6406s1.6328-3.6406 3.6367-3.6406c2.0078 0 3.6406 1.6328 3.6406 3.6406-0.003906 2.0117-1.6367 3.6406-3.6406 3.6406zm0-5.5781c-1.0664 0-1.9375 0.87109-1.9375 1.9414 0 1.0703 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9414-0.87109 1.9414-1.9375-0.003906-1.0703-0.875-1.9414-1.9414-1.9414z'/%3E%3Cpath d='m82.312 64.988c-2.0078 0-3.6406-1.6328-3.6406-3.6406 0-2.0078 1.6328-3.6406 3.6406-3.6406s3.6406 1.6328 3.6406 3.6406c0 2.0078-1.6328 3.6406-3.6406 3.6406zm0-5.5781c-1.0703 0-1.9375 0.87109-1.9375 1.9375 0 1.0703 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9375-0.86719 1.9375-1.9375 0.003906-1.0664-0.86719-1.9375-1.9375-1.9375z'/%3E%3Cpath d='m82.312 24.984c-2.0078 0-3.6406-1.6328-3.6406-3.6406s1.6328-3.6406 3.6406-3.6406 3.6406 1.6328 3.6406 3.6406-1.6328 3.6406-3.6406 3.6406zm0-5.5781c-1.0703 0-1.9375 0.87109-1.9375 1.9414 0 1.0703 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9375-0.87109 1.9375-1.9375 0.003906-1.0703-0.86719-1.9414-1.9375-1.9414z'/%3E%3Cpath d='m12.309 24.984c-2.0078 0-3.6406-1.6328-3.6406-3.6406s1.6328-3.6406 3.6406-3.6406c2.0078 0 3.6406 1.6328 3.6406 3.6406-0.003907 2.0078-1.6367 3.6406-3.6406 3.6406zm0-5.5781c-1.0703 0-1.9375 0.87109-1.9375 1.9414 0 1.0703 0.87109 1.9375 1.9375 1.9375 1.0703 0 1.9375-0.87109 1.9375-1.9375 0-1.0703-0.87109-1.9414-1.9375-1.9414z'/%3E%3Cpath d='m26.531 18.156h-6.2852l3.1406-5.4414zm-4.5547-1h2.8203l-1.4102-2.4414z'/%3E%3Cpath d='m61.766 50.594l-5.4414-3.1406 5.4414-3.1445zm-3.4414-3.1445l2.4414 1.4102 0.003906-2.8203z'/%3E%3Cpath d='m49.523 81.531l-3.1445-5.4414h6.2852zm-1.4141-4.4375l1.4102 2.4414 1.4102-2.4414z'/%3E%3Cpath d='m89.281 83.344l-5.4414-3.1445 5.4414-3.1445zm-3.4414-3.1445l2.4414 1.4102v-2.8203z'/%3E%3Cpath d='m18.641 59.152v-6.2852l5.4414 3.1445zm1-4.5508v2.8203l2.4414-1.4102z'/%3E%3Cpath d='m71.402 27.855l-5.4414-3.1445 5.4414-3.1406zm-3.4375-3.1445l2.4414 1.4102v-2.8203z'/%3E%3Cpath d='m90.148 50.102c-0.56641 0-1.1211-0.22266-1.5312-0.63281-0.53906-0.53906-0.75391-1.3398-0.5625-2.082 0.042968-0.16406 0-0.33203-0.11719-0.44922-0.13672-0.13672-0.32031-0.15234-0.44922-0.11719-0.74219 0.19531-1.5391-0.019531-2.082-0.5625-0.54297-0.54297-0.75781-1.3398-0.5625-2.0859 0.042969-0.16406-0.003906-0.33203-0.11719-0.44922-0.14062-0.13672-0.32031-0.15234-0.44922-0.11719-0.74219 0.19141-1.543-0.019531-2.082-0.55859-0.54297-0.54297-0.75781-1.3438-0.5625-2.0859 0.042969-0.16406 0-0.32813-0.11719-0.44922-0.14062-0.13672-0.32422-0.15234-0.44922-0.11719-0.73828 0.19531-1.5391-0.019531-2.082-0.5625s-0.75781-1.3398-0.5625-2.082c0.12109-0.45312 0.58984-0.72266 1.0391-0.60547 0.45312 0.12109 0.72656 0.58594 0.60547 1.0391-0.035156 0.125-0.019531 0.30859 0.11719 0.44922 0.14062 0.13672 0.32031 0.15234 0.44922 0.11719 0.74609-0.19531 1.543 0.023438 2.082 0.5625 0.54297 0.54297 0.76172 1.3438 0.5625 2.0859-0.042969 0.16016 0.003906 0.32812 0.11719 0.44922 0.14062 0.13672 0.32422 0.15234 0.44922 0.11719 0.73828-0.19141 1.5391 0.019531 2.082 0.5625 0.54297 0.54297 0.75781 1.3398 0.5625 2.082-0.035156 0.125-0.019531 0.3125 0.11719 0.44922 0.14062 0.14062 0.32031 0.15234 0.44922 0.11719 0.74219-0.19531 1.543 0.019531 2.082 0.5625 0.54297 0.54297 0.75781 1.3438 0.5625 2.0859-0.03125 0.125-0.019531 0.30859 0.11719 0.44531 0.14062 0.13672 0.32422 0.15234 0.44922 0.11719 0.45312-0.11719 0.91797 0.14844 1.0391 0.60547 0.12109 0.45312-0.14844 0.91797-0.60547 1.0391-0.17969 0.046875-0.36719 0.070312-0.55078 0.070312z'/%3E%3Cpath d='m72.27 83.055c-0.56641 0-1.1211-0.22266-1.5312-0.63281-0.53906-0.53906-0.75391-1.3398-0.5625-2.0781 0.042969-0.16406 0-0.33203-0.11719-0.44922-0.13672-0.13672-0.32031-0.15234-0.44922-0.11719-0.74219 0.19531-1.5391-0.019532-2.082-0.5625-0.54297-0.53906-0.75781-1.3398-0.5625-2.0859 0.042968-0.16016-0.003906-0.32812-0.11719-0.44531-0.13672-0.14062-0.32031-0.15234-0.44922-0.11719-0.74609 0.19531-1.543-0.019531-2.082-0.55859-0.54297-0.54297-0.75781-1.3438-0.5625-2.0859 0.035156-0.12891 0.019532-0.30859-0.11719-0.44531-0.14062-0.13672-0.32031-0.15234-0.44922-0.11719-0.74609 0.19531-1.543-0.019531-2.082-0.5625-0.54297-0.53906-0.75781-1.3398-0.5625-2.082 0.12109-0.45312 0.58984-0.72266 1.0391-0.60547 0.45312 0.11719 0.72656 0.58594 0.60547 1.0391-0.035156 0.125-0.019531 0.30859 0.11719 0.44531 0.13672 0.13672 0.32031 0.15234 0.44922 0.11719 0.74219-0.19531 1.5391 0.019531 2.0781 0.5625 0.54297 0.54297 0.76172 1.3438 0.5625 2.0859-0.03125 0.125-0.019531 0.30859 0.11719 0.44531 0.14062 0.13672 0.32422 0.15234 0.44922 0.11719 0.73828-0.19531 1.5391 0.019531 2.082 0.5625s0.75781 1.3398 0.5625 2.082c-0.035157 0.12891-0.019531 0.3125 0.11719 0.44922 0.14062 0.14062 0.32031 0.15234 0.44922 0.11719 0.74219-0.19141 1.543 0.019532 2.082 0.5625 0.54297 0.54297 0.75781 1.3438 0.5625 2.0859-0.03125 0.125-0.019531 0.3125 0.11719 0.44531 0.14062 0.14063 0.32422 0.14844 0.44922 0.11719 0.45313-0.12109 0.91797 0.14844 1.0391 0.60547s-0.14844 0.92188-0.60547 1.0391c-0.17578 0.042969-0.36328 0.066407-0.54688 0.066407z'/%3E%3Cpath d='m15.805 77.41c-0.18359 0-0.36719-0.019531-0.55078-0.070312-0.45312-0.11719-0.72656-0.58203-0.60547-1.0352 0.11719-0.45313 0.58203-0.72656 1.0352-0.60547 0.16406 0.042969 0.33203 0 0.44922-0.11719 0.13672-0.14062 0.15234-0.32422 0.11719-0.44922-0.19531-0.73828 0.019531-1.5391 0.5625-2.0781 0.54297-0.54688 1.3438-0.76172 2.0859-0.5625 0.16406 0.042968 0.33203-0.003907 0.44922-0.11719 0.13672-0.14062 0.15234-0.32031 0.11719-0.44531-0.19531-0.75 0.023437-1.5469 0.5625-2.0859 0.53906-0.53906 1.3398-0.75781 2.082-0.5625 0.12891 0.03125 0.3125 0.019531 0.44922-0.12109 0.13672-0.13672 0.15234-0.32031 0.11719-0.44531-0.19531-0.74219 0.019531-1.543 0.5625-2.0859 0.53906-0.54297 1.3398-0.76172 2.082-0.5625 0.12891 0.035156 0.3125 0.019532 0.44922-0.11719 0.13672-0.14062 0.15234-0.32031 0.11719-0.44531-0.12109-0.45312 0.14844-0.92188 0.60547-1.0391 0.45312-0.12109 0.91797 0.14844 1.0391 0.60547 0.19531 0.74219-0.019531 1.5391-0.55859 2.0859-0.54297 0.54297-1.3398 0.75781-2.0859 0.55859-0.16016-0.039063-0.33203 0.007812-0.44922 0.12109-0.14062 0.14062-0.15234 0.32031-0.12109 0.44531 0.19531 0.74219-0.019531 1.5391-0.55859 2.0859-0.54297 0.54297-1.3438 0.76172-2.0859 0.5625-0.16016-0.039063-0.32812 0.003906-0.44531 0.11719-0.14062 0.14062-0.15234 0.32422-0.12109 0.45312 0.19531 0.73828-0.019531 1.5352-0.55859 2.0781-0.53906 0.53906-1.3398 0.75781-2.082 0.5625-0.16406-0.042969-0.33594 0.003906-0.44922 0.11719-0.14062 0.14063-0.15234 0.32031-0.12109 0.44531 0.19531 0.74609-0.019531 1.543-0.5625 2.0859-0.40234 0.40234-0.95703 0.62109-1.5273 0.62109z'/%3E%3Cpath d='m32.418 39.039c-0.56641 0-1.125-0.22266-1.5352-0.63281-0.53906-0.53906-0.75391-1.3398-0.55859-2.082 0.042969-0.16406-0.003907-0.32812-0.11719-0.44922-0.14062-0.13672-0.32422-0.15234-0.44922-0.11719-0.74609 0.19531-1.543-0.019531-2.082-0.5625-0.54297-0.53906-0.75781-1.3398-0.5625-2.082 0.042969-0.16406-0.003906-0.33203-0.12109-0.44922-0.13672-0.13672-0.32031-0.15234-0.44922-0.11719-0.74609 0.19531-1.543-0.019531-2.082-0.5625-0.54297-0.54297-0.75781-1.3398-0.5625-2.0859 0.042968-0.16406 0-0.32813-0.11719-0.44922-0.14062-0.14062-0.32031-0.15234-0.44922-0.11719-0.74219 0.19531-1.543-0.019531-2.082-0.5625s-0.75391-1.3398-0.55859-2.082c0.12109-0.45312 0.58203-0.72656 1.0391-0.60547 0.45312 0.12109 0.72656 0.58594 0.60547 1.0391-0.042969 0.16406 0 0.33203 0.11719 0.44922 0.13672 0.13672 0.32031 0.14844 0.44922 0.11719 0.74219-0.19141 1.5391 0.019531 2.082 0.5625s0.75781 1.3438 0.5625 2.0859c-0.042969 0.16016 0.003906 0.32812 0.12109 0.44531 0.13672 0.13672 0.32422 0.14844 0.44922 0.11719 0.74219-0.19531 1.5391 0.019531 2.082 0.5625 0.54297 0.54297 0.75781 1.3398 0.5625 2.082-0.03125 0.125-0.019531 0.30859 0.11719 0.44922 0.14062 0.14062 0.32422 0.15234 0.44922 0.11719 0.74609-0.19531 1.543 0.019531 2.082 0.5625 0.54297 0.53906 0.75781 1.3398 0.5625 2.082-0.03125 0.125-0.019531 0.30859 0.11719 0.44531 0.14062 0.14062 0.32422 0.15234 0.44922 0.12109 0.45313-0.11719 0.91797 0.14844 1.0391 0.60547 0.12109 0.45312-0.14844 0.91797-0.60547 1.0391-0.18359 0.050781-0.37109 0.074218-0.55469 0.074218z'/%3E%3Cpath d='m48.344 23.336c-0.18359 0-0.36719-0.023438-0.55078-0.070313-0.45312-0.11719-0.72656-0.58203-0.60547-1.0391 0.11719-0.45312 0.58984-0.72656 1.0352-0.60547 0.16797 0.042968 0.33594 0 0.44922-0.11719 0.13672-0.13672 0.14844-0.32031 0.11719-0.44922-0.19531-0.74219 0.019532-1.5391 0.5625-2.082 0.54297-0.54297 1.3438-0.75781 2.0859-0.55859 0.16016 0.042969 0.32812-0.003906 0.44531-0.12109 0.13672-0.13672 0.14844-0.32031 0.11719-0.44922-0.19531-0.74609 0.023438-1.543 0.5625-2.0859 0.54297-0.54297 1.3398-0.75781 2.0859-0.55859 0.12109 0.03125 0.30859 0.019531 0.44531-0.11719 0.14062-0.14062 0.15234-0.32422 0.11719-0.44922-0.19531-0.74219 0.019531-1.543 0.5625-2.082 0.54297-0.54297 1.3477-0.75781 2.0859-0.55859 0.125 0.03125 0.30859 0.019531 0.44531-0.11719 0.14062-0.14062 0.15234-0.32422 0.11719-0.44922-0.11719-0.45312 0.15234-0.91797 0.60547-1.0391 0.44531-0.12109 0.91797 0.14844 1.0391 0.60547 0.19531 0.74609-0.019531 1.543-0.5625 2.0859-0.53906 0.53906-1.3438 0.75391-2.0781 0.55859-0.16406-0.042969-0.33203 0-0.44922 0.11719-0.11719 0.11719-0.16016 0.28516-0.11719 0.44922 0.19531 0.74609-0.019531 1.543-0.5625 2.082-0.53906 0.53906-1.3398 0.75781-2.082 0.5625-0.16406-0.046875-0.32812 0-0.44922 0.11719-0.14062 0.14062-0.15234 0.32422-0.12109 0.44922 0.19531 0.74219-0.019531 1.5391-0.5625 2.082-0.53906 0.54297-1.3398 0.75781-2.082 0.5625-0.16406-0.042969-0.33203 0.003906-0.44922 0.11719-0.13672 0.13672-0.15234 0.32031-0.11719 0.44922 0.19531 0.74219-0.019532 1.543-0.55859 2.082-0.40625 0.40625-0.96094 0.62891-1.5312 0.62891z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 175%;
  background-position: center;
  background-attachment: fixed;
  background-clip: padding-box;
  border-width: var(--mega-border-width);
  border-style: solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom,
    var(--yellow-light),
    var(--red)
  );
  /* reduce flash of top/bottom borders when body initially loads with no height */
  min-height: calc(100vh + var(--mega-border-width));
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 375px) {
  header {
    display: block;
  }
}

/* donut */
.logo > svg {
  height: 3rem;
  width: 3rem;
  background-image: -webkit-linear-gradient(92deg, var(--coral), var(--pink));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: lavalamp 15s infinite linear;
}
@media (max-width: 320px) {
  .logo {
    margin-bottom: 0.5rem;
  }
  .logo > svg {
    height: 2rem;
    width: 2rem;
  }
}

/* heroine */
.heroine {
  color: var(--red);
}
@media (max-width: 414px) {
  .heroine {
    font-size: 1.75rem;
  }
}

@media (max-width: 1024px) {
  .avatar {
    margin: 0 auto;
  }
}

/* main bio thing */
.main-bio-container {
  display: flex;
}
.main-bio {
  flex: 0 0 80%;
  margin-right: 1.5rem;
}
.main-bio h1 {
  margin-top: 0;
}
.main-bio-container svg:hover {
  color: var(--pink);
}
@media (max-width: 1024px) {
  .main-bio-container {
    flex-wrap: wrap;
  }
  .main-bio {
    order: 1;
    flex: 0 0 100%;
    margin-right: 0;
  }
  .main-bio h1 {
    margin-top: 2.5rem;
  }
}

/* horizontal lists of links */
.horizontal-links {
  list-style-type: none;
  margin-bottom: 0;
}
.horizontal-links > li {
  display: inline-block;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
.horizontal-links > li:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 480px) {
  .horizontal-links {
    margin-left: 0;
  }
}
@media only screen and (max-width: 320px) {
  .horizontal-links {
    display: block;
    font-size: 0.8rem;
  }
  .horizontal-links > li {
    margin-right: 0.8rem;
  }
}

/* footer */
@media (max-width: 375px) {
  footer {
    display: block;
  }
}

/* gatsby-highlight */
.gatsby-highlight {
  margin-bottom: 1.75em;
}

/* blog post detail */
.blog-post img,
.blog-post figcaption {
  margin: 0 auto;
  display: block;
}

/* a tags */
small > a {
  color: var(--gray);
}
a {
  transition: color 0.2s ease;
}
a:hover {
  color: var(--coral);
  transition: color 0.3s ease;
}
a.squiggly {
  padding-bottom: 0.15em;
  background-position: bottom;
  background-size: 20%;
  transition: none;
}
a.squiggly:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='Squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.st0{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='coral' stroke-width='1' class='st0' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 26px;
  background-size: auto 3px;
  background-repeat: repeat-x;
  padding-bottom: 0.15em;
  background-clip: initial;
  -webkit-text-fill-color: initial;
  box-decoration-break: initial;
}

/* pills */
.pills {
  display: flex;
}
.pill {
  font-size: 0.7rem;
  display: inline-flex;
  align-items: center;
  padding: 0 0.5rem;
  height: 1.25rem;
  margin: 0.125rem;
  border-radius: 0.9375rem;
}
.pill:not(:first-child) {
  margin-left: 0;
}
/* carbon design tag colors */
.pill--leadership {
  background-color: #ffd4a0;
  color: #a53725;
}
.pill--management {
  background-color: #fde876;
  color: #735f00;
}
.pill--engineering {
  background-color: #c0e6ff;
  color: #325c80;
}
.pill--11s {
  background-color: #eed2ff;
  color: #734098;
}
.pill--userexperience {
  background-color: #a7fae6;
  color: #006d5d;
}

/* embedded tweets */
.twitter-tweet {
  margin: 0 auto;
}

/* utils */
.u-no-box-shadow {
  box-shadow: none;
}
/* https://css-tricks.com/full-width-containers-limited-width-parents/ */
.u-full-width {
  width: calc(100vw - var(--mega-border-width) * 2);
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: calc(-50vw + var(--mega-border-width));
  margin-right: calc(-50vw + var(--mega-border-width));
}

/* animations */
@keyframes lavalamp {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
